/*
 *
 *   Moustache Landing Page
 *
*/

@import "bootstrap.scss";
@import "fontawesome.scss";
@import "partial/_global.scss";
@import "partial/_navbar.scss";


/* HOME STYLES
-------------------------------------------------- */

.torrent-section {
    .card {
        width: 100%;
        height: 95%;
        border: 1px solid #ccc;
    }

    .card-error {
        z-index: 1000;
        position: absolute;
        bottom: 0;

        margin: 0;

        width: 100%;

        background-color: rgba(0,0,0,.6);
    }

    .card-error p {
        margin: .5em;
    }

    .card-header {
        padding: .50rem 1rem;
    }

    .card-inverse {
        background-color: #DDD;
    }

    .card-fail {
        border-color: red;
    }

    .card-block {
        padding: 1rem;
        #{$a-tags}, .card-title, .card-text {
            transition: color 0.5s ease;
            color: #444;
            text-decoration: none;
        }

        #{$a-tags-hover}, a .card-title:active, a .card-title:hover, a .card-text:active, a .card-text:hover {
           color: #000;
        }
    }

    .progress {
        border-radius: 0;
        margin-bottom: 0;
    }

    .fa.video {
        @extend .fa-film;
    }

    .fa.iso {
        @extend .fa-hdd-o;
    }

    .fa.audio {
        @extend .fa-music;
    }

    .fa.image {
        @extend .fa-photo;
    }

    .fa.archive {
        @extend .fa-file-archive-o;
    }

    .fa.other {
        @extend .fa-file-word-o;
    }

    .fa.pdf {
        @extend .fa-file-pdf-o;
    }

    .fa.directory {
        @extend .fa-folder-open-o;
    }
}

.torrent-selector {
    margin: 0;

    input {
        display: none;
    }
}
