/*
 *
 *   Moustache Global style
 *
*/

/* VARIABLES STYLES
-------------------------------------------------- */

$purple: #802254;        // Primary color
/*$lightpurple: #c2c2c2;   // Secondary color*/
$cream: #fdf9eb;         // Tertiary color

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';


/* GENERAL STYLES
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url('/css/img/background.png') repeat $cream;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', sans-serif;
}

a:hover, a:active, a:focus {
    outline: 0;
}

#content {
    padding: 0 0 1em;
}

.h-1 {
    height: 1.5rem;
}

/* BOOTSTRAP OVERRIDE STYLES
-------------------------------------------------- */

.text-center {
    text-align: center;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    margin-right: 0;
}

.alert-danger li {
    list-style-type: none;

    &:before {
        width: 1.28571em;
        text-align: center;
        font-family: 'FontAwesome';
        content: '\f00d';
        margin: 0 0.5em 0 0;
    }
}

.alert-success li {
    list-style-type: none;

    &:before {
        width: 1.28571em;
        text-align: center;
        font-family: 'FontAwesome';
        content: '\f00c';
        margin: 0 0.5em 0 0;
    }
}

.alert-warning li {
    list-style-type: none;

    &:before {
        width: 1.28571em;
        text-align: center;
        font-family: 'FontAwesome';
        content: '\f12a';
        margin: 0 0.5em 0 0;
    }
}

/* FONT-AWESOME OVERRIDE STYLES
-------------------------------------------------- */