{% extends 'MoustacheBundle:Default/Card:_card.html.twig' %}

{% block cardAttributes %}
id="torrent-{{ torrent.id }}" class="card text-xs-center{% if torrent.isStopped %} card-inverse{% endif %}{% if torrent.isFailed %} card-fail{% endif %}"
{% endblock cardAttributes %}

{% block cardHeader %}
    {% if torrent.id %}
        <div class="btn-group btn-group-sm" role="group" aria-label="Play">
          <a href="{{ path('moustache_torrent_start', { id: torrent.id }) }}" type="button" title="{{ 'Start'|trans }}" class="btn btn-secondary{% if not torrent.isStopped %} disabled{% endif %}"><span class="fa fa-share-alt" aria-hidden="true"></span></a>
          <a href="{{ path('moustache_torrent_stop', { id: torrent.id }) }}" type="button" title="{{ 'Pause'|trans }}" class="btn btn-secondary{% if torrent.isStopped %} disabled{% endif %}"><span class="fa fa-pause" aria-hidden="true"></span></a>
        </div>
    {% endif %}

    {% if config.allow_direct_download and torrent.isCompleted and torrent.isFile %}
        <div class="btn-group btn-group-sm ml-1" role="group" aria-label="Download group">
            <a href="{{ path('moustache_torrent_download', { id: torrent.id }) }}" type="button" title="{{ 'Direct download'|trans }}" class="btn btn-secondary"><span class="fa fa-download" aria-hidden="true"></span></a>
        </div>
    {% endif %}
{% endblock cardHeader %}

{% block cardBetween %}
    <progress id="torrent-progress-{{ torrent.id }}" class="progress {% if torrent.isCompleted %}progress-success{% else %}progress-info{% endif %}{% if torrent.isDownloading or torrent.isUploading %} progress-animated progress-striped{% endif %}" title="{{ torrent.percentDone|localizednumber }}%" value="{% if torrent.percentDone > 1 %}{{ torrent.percentDone }}{% else %}1{% endif %}" max="100">
        {{ torrent.percentDone }}%
    </progress>
    <div class="h-1">
        {% if torrent.downloadRate is defined %}
            <small id="torrent-down-{{ torrent.id }}" class="mr-1{% if not torrent.downloadRate %} text-muted{% endif %}"><span class="fa fa-arrow-down" aria-hidden="true"></span> <span id="torrent-down-value-{{ torrent.id }}">{{ torrent.getDownloadHumanRate }}</span></small>
        {% endif %}
        {% if torrent.uploadRate is defined %}
            <small id="torrent-up-{{ torrent.id }}"{% if not torrent.uploadRate %} class="text-muted"{% endif %}><span class="fa fa-arrow-up" aria-hidden="true"></span> <span id="torrent-up-value-{{ torrent.id }}">{{ torrent.getUploadHumanRate }}</span></small>
        {% endif %}
    </div>
{% endblock cardBetween %}

{% block cardContent %}
    {% if not torrent.isFile %}
    <a class="d-block" href="{{ path('moustache_torrent_content', { id: torrent.id }) }}" title="{% trans with {'%content%': torrent.friendlyName} %}Browse %content%{% endtrans%}" class="card-block">
    {% endif %}
        {% include 'MoustacheBundle:Default/Card:_content.html.twig' with {'file': torrent } %}
    {% if not torrent.isFile %}
    </a>
    {% endif %}
{% endblock cardContent %}

{% block cardError %}
    {% if torrent.isFailed() %}
        <p class="small text-danger">
            <small>{{ torrent.getStatusMessage }}</small>
        </p>
    {% endif %}
{% endblock cardError %}
