{% if pagination.totalPage > 0 %}
    <nav class="text-center w-100" aria-label="{{ 'Torrent pagination'|trans }}">
        <ul class="pagination justify-content-center">
            {% for page in 0..pagination.totalPage %}
                <li class="page-item{% if page == pagination.currentPage %} disabled{% endif %}">
                    <a class="page-link" href="?{{ constant('MoustacheBundle\\Helper\\PaginationHelper::PAGINATION_PARAMETER') }}={{ page }}">{{ page + 1 }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
